* {
  padding: 0;
  margin: 0;
}

body {
  font-family: Open Sans, sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f9f9f9;
  background-image: url("img/svg/topography.svg");
}

.formInput {
  border: 1px solid #ccc;
  padding: 7px 14px 9px;
  transition: 0.4s;
  background: rgba(96, 111, 123, 0.1);
  margin-bottom: 10%;
  margin-top: 3%;
}
.formInput:after {
  display: block;
  content: "need text here to prevent subpixel zoom issue";
  border-bottom: 2px solid #7d48df;
  outline: none;
  transform: scaleX(0);
  transition: transform 250ms ease-in-out;
}
.formInput:focus:after {
  transform: scaleX(1);
}
.formInput:invalid {
  border: 2px solid #fa3e3e;
}

/* .container-dashboard {
  height: 100%;
  padding: 5% 5%;
  background: #fff;
  margin-top: 5%;
  display: grid;
  grid-template-areas:
    "title title title"
    "details posts posts"
    "exp exp exp"
    "reel reel reel";
  border-radius: 10px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.1);
}

.container-dashboard .dashboard-title {
  grid-area: title;
  margin-bottom: 5%;
}

.container-dashboard .dashboard-details {
  grid-area: details;
}
.container-dashboard .post-history {
  grid-area: posts;
}
.container-dashboard .user-experience {
  grid-area: exp;
}
.container-dashboard .user-reel {
  grid-area: reel;
}
 */
