* {
  padding: 0;
  margin: 0;
}

/* .container-dashboard {
  height: 100%;
  padding: 5% 5%;
  background: #fff;
  margin-top: 5%;
  display: grid;
  grid-template-areas:
    "title title title"
    "details posts posts"
    "exp exp exp"
    "reel reel reel";
  border-radius: 10px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.1);
}

.container-dashboard .dashboard-title {
  grid-area: title;
  margin-bottom: 5%;
}

.container-dashboard .dashboard-details {
  grid-area: details;
}
.container-dashboard .post-history {
  grid-area: posts;
}
.container-dashboard .user-experience {
  grid-area: exp;
}
.container-dashboard .user-reel {
  grid-area: reel;
}
 */
